@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
span{
  color: rgb(41, 5, 74);
  font-weight: 600;
}

.p {
  color: rgb(7, 120, 6);
  font-style: italic;
  font-size: 20px;
  font-weight: 400px;
  margin: 20px;
  padding: 2px;

}




.image-container {
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  align-content: center;
}
.image{
  display: flex;
  align-items: center;
}

.arabic-text {
  text-align: right;
  margin-bottom: 20px;
  padding: 2px;
  font-size: 20px;
  font-weight: 400px;
  margin: 20px;
  color:rgb(7, 120, 6);
}
