.h1{
    color:rgb(26, 8, 42);
    font-weight: 800;
    font-size: 30px;
    font-style: italic;
    padding: 20px;


}
.comment{
    color: rgb(89, 50, 125);
    font-size: 20px;
    padding: 20px;
    
}