/* Facts.module.css */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .heading {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .fact {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
  }
  .btn{
    color:#28a745;
    border: #333 2px solid;
    margin:auto;
    padding: auto;
    border-radius: 2px;
    background-color: #ccc;
  }
  .h2{
    color:#52063b;
    font-weight: bold;
    font-style: italic;
  }
  
  .title {
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
  }
  
  .content {
    color: #555;
    margin-bottom: 15px;
  }
  
  .link {
    color: #28a745;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
    color: #218838;
  }
  
   